* {
	margin: 0px;
	padding: 0px;
	line-height: 16px;
}
body {
	color: #818181;
	font-family: Century Gothic Regular, arial;
	font-size: 12px;
}
main {
	width: 714px;
	margin: 0 auto;	
}

header {
	text-transform: uppercase;
	font-size: 50px;
	height: 104px;
	padding: 30px 0px 0px 0px
}

table.productInfo {
	width: 100%;
	border-spacing: 0px;
	border-bottom: 6px solid #dddbdc;
}

table th {
	border-top: 1px solid #dddbdc;
	border-bottom: 6px solid #dddbdc;
	text-transform: uppercase;
}

table.productInfo td {
	border-bottom: 1px solid #dddbdc;
}

table th, table td {
	text-align: left;
	padding: 20px 10px;
	vertical-align: top;
}

table p {
	line-height: 20px;
}

table .productTitle {
	text-transform: uppercase;
	padding-top: 10px;
	font-weight: bold;
}

table .productImg {
	width: 100px;
}

table .productSize {
	font-weight: bold;
	padding-top: 20px;
}

table .productQty {
	width: 36px;
	height: 22px;
	border: 1px solid #dddbdc;
	text-align: center;
	margin-top: 16px;
}

table .productPrice {
	font-size: 16px;
	font-weight: bold;
	padding-top: 16px;
}

table .productControls {
	text-transform: uppercase;
	padding-top: 55px;
}

table .productControls a{
	color: #818181;
	text-decoration: none;
}

table .productControls a:hover {
	color: red;
}
.help-center {
	text-align: left;
	padding: 50px 35px 15px 15px;
	height: auto;
	overflow: auto;
	width: 20%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.priceCalculation{
	text-align: left;
	padding: 50px 15px 15px 100px;
	height:auto;
	overflow: auto;
	width: 80%;
	display: inline-block;	
	vertical-align: top;
	box-sizing: border-box;
	margin-left: -4px;	
}
.priceValue{
	text-align : right;
}
button {
    background-color:blue;
    border: none;
    color: white;
    padding: 5px 15px;
	text-align: center;
	float: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
label{
	font-weight: bold;
}
table.priceInfo {
	width: 100%;
	border-spacing: 0px;	
}
tr.promCode-row td,tr.totalPrice-row td{
	border-bottom: 6px solid #dddbdc;
}
tr.shipping-row td{
	border-bottom: 1px solid #dddbdc;
}
a { color: inherit; } 
p{
	margin-top : 15px;
}